﻿

@{
    ViewData["Title"] = "Details";
}
@model TohidContacts.Models.Contact

<div class="py-5 px-3">
    <div class="text-center pt-5">
        @if (String.IsNullOrEmpty(@Model.Image))
        {
            <img src="~/images/profile-placeholder.png" class="rounded-circle avatar-md" height="90" width="90" asp-append-version="true" />
        }
        else
        {
            <img src="~/images/@Model.Image" class="rounded-circle avatar-md" height="90" width="90" asp-append-version="true" />
        }

        <p class="mb-2 mt-4 font-weight-bold">@Model.FirstName @Model.LastName</p>
        @if (!String.IsNullOrEmpty(Model.Company))
        {
            <p class="mt-2 font-weight-bold text-muted">شرکت/نام مستعار: @Model.Company</p>
        }
        @if (Model.Category != null)
        {
            <p class="mt-2 font-weight-bold text-muted">دسته: <span style="color:@Model.Category.Label">@Model.Category.Name</span></p>
        }
        <hr class="col-12 col-md-6 mx-auto" />
        <p class="mt-3 text-muted"><small>شماره های تماس</small></p>
        @foreach (var phone in Model.Phones)
        {
            <div class="my-card mt-2 align-items-center row mx-auto p-2 col-12 col-md-5 pointer">
                <span class="col"><strong>@phone.Name</strong></span>
                <span class="col-auto"><strong>@phone.Number</strong></span>
                <a href="tel:@phone.Number" class="col-auto border-right material-icons md-18 text-success">call</a>

            </div>
        }

        <a href="javascript:history.back()"><p class="mt-3"><small>برگشت</small></p></a>


    </div>

</div>
