﻿@{
    ViewData["Title"] = "New Contract";
}
@model TohidContacts.ModelViews.NewContactModelView

<div class="py-5 px-3">
    <h5 class="text-muted my-4">ویرایش مخاطب</h5>
    <form id="MyForm" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="text" asp-for="contact.Id" name="contact.Id" value="@Model.contact.Id" hidden />
        <div class="row pt-3">
            <div class="col-12 col-md-6">
                <p class="m-0 px-2"><small><strong>نام</strong></small></p>
                <input asp-for="contact.FirstName" class="my-card w-100 p-2" type="text" name="contact.FirstName" value="@Model.contact.FirstName" placeholder="مثلا توحید ..." />

                <p class="m-0 px-2 mt-2"><small><strong>نام خانوادگی</strong></small></p>
                <input asp-for="contact.LastName" class="my-card w-100 p-2" type="text" name="contact.LastName" value="@Model.contact.LastName" placeholder="مثلا نجفی ..." />

                <p class="m-0 px-2 mt-2"><small><strong>شرکت / نام مستعار</strong></small></p>
                <input asp-for="contact.Company" class="my-card w-100 p-2" type="text" name="contact.Company" value="@Model.contact.Company" placeholder="مثلا مکانیکی ..." />

                <div class="d-flex align-items-center justify-content-between mt-2">
                    <p class="m-0 px-2"><small><strong>دسته بندی</strong></small></p>
                    <button id="CategoryButton" type="button" class="t-color" data-toggle="modal" data-target="#exampleModalCenter">
                        <small>
                            @if (Model.contact.Category != null)
                            {
                                <strong>@Model.contact.Category.Name</strong>
                            }
                            else
                            { <strong>انتخاب دسته بندی</strong>}
                        </small>
                    </button>
                </div>


                <p class="m-0 px-2 mt-2"><small><strong>یادداشت</strong></small></p>
                <input asp-for="contact.Note" class="my-card w-100 p-2" type="text" name="contact.Note" value="@Model.contact.Note" placeholder="یادداشتی درباره این فرد ..." />

                <div class="d-flex align-items-center justify-content-between mt-2">
                    <span class="m-0 px-2"><small><strong>در مخاطبین محبوب قرار بگیرد؟</strong></small></span>
                    <input asp-for="contact.IsFav" class="mx-3" type="checkbox" name="contact.IsFav" value="true" checked="@Model.contact.IsFav" />
                </div>



                <button type="submit" class="t-button mt-3 w-100">@if (Model.editMode)
                {<span>ثبت ویرایش</span>}
                else
                {<span>ثبت</span>}</button>
            </div>
            <div class="col-12 col-md-6">




                <p class="m-0 px-2"><small><strong>تصویر</strong></small></p>
                @if (String.IsNullOrEmpty(@Model.contact.Image))
                {
                    <img id="preview" src="~/images/profile-placeholder.png" class="rounded-circle avatar-md" height="90" width="90" asp-append-version="true" />
                }
                else
                {
                    <img id="preview" src="~/images/@Model.contact.Image" class="rounded-circle avatar-md" height="90" width="90" asp-append-version="true" />
                }
                <input type="file" asp-for="@Model.ContactImageFile" class="file" id="customFile" accept="image/*" style=" visibility:hidden;position:absolute;">
                <span type="button" class="browse t-button px-3 mx-2">انتخاب تصویر</span>
                <input asp-for="contact.Image" class="my-card w-100 p-2" type="text" name="contact.Image" value="@Model.contact.Image" hidden />









                <p class="mb-0 mt-5 px-2"><small><strong>شماره تماس ها</strong></small></p>

                <div id="PhonesContainer">
                    @for (int i = 0; i < Model.contact.Phones.Count(); i++)
                    {
                    <div id="Phone@i" class="my-card mt-2 align-items-center row mx-0 p-2">

                        <input type="text"  name="contact.Phones[@i].Name" value="@Model.contact.Phones[i].Name" class="col mr-2 border rounded" placeholder="عنوان" />
                        <input type="text"  name="contact.Phones[@i].Number" value="@Model.contact.Phones[i].Number" class="col-auto mr-2 border rounded" placeholder="شماره" />
                        <span id="removePhone($i)" class="col-auto material-icons md-18 text-danger pointer removePhone">delete_forever</span>
                    </div>
                    }
                </div>





                <div id="AddNumberForm" class="w-100 t-color d-rtl d-flex align-items-center justify-content-center p-4 pointer">
                    <span class="material-icons md-18 mx-2">add_circle</span>
                    <span><strong>افزودن شماره</strong></span>
                </div>

            </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">انتخاب دسته بندی</h5>

                </div>
                <div class="modal-body">
                    <div class="row p-1">
                        @foreach (var category in Model.categories)
                        {
                            <div class="col-12 col-md-6">
                                <div class="d-flex align-items-center my-card p-3 pointer" onclick="setCategory('@category.Id','@category.Name','@category.Label')">
                                    <div class="col-auto color-tag rounded text-white mr-2" style="background:@category.Label">&nbsp;</div>
                                    <span class="mx-2"><strong>@category.Name</strong></span>
                                </div>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#AddNumberForm").click(function () {
                $count = $("#PhonesContainer").children().length;
                $("#PhonesContainer").append(`<div id="Phone${$count}" class="my-card mt-2 align-items-center row mx-0 p-2">
                            <input name="contact.Phones[${$count}].Name" class="col mr-2 border rounded" placeholder="عنوان" />
                            <input name="contact.Phones[${$count}].Number" class="col-auto mr-2 border rounded" placeholder="شماره" />
                            <span id="removePhone${$count}" class="col-auto material-icons md-18 text-danger pointer removePhone">delete_forever</span>
                        </div>`);
            });



            $(document).on('click', '.removePhone', function (e) {
                $(this).parent().remove();
            });
        });

        function setCategory(categoryId, categoryName, categoryLabel) {
            console.log(categoryName);
            $("#CategoryButton").text(categoryName);
            $('#MyForm').append('<input type="text" hidden name="contact.CategoryId" value="' + categoryId + '" />');

            $('#exampleModalCenter').modal('toggle');
        }


        $(document).on("click", ".browse", function () {
            var file = $(this).parents().find(".file");
            file.trigger("click");
        });
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#file").text(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("preview").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        });


    </script>
}

