﻿@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material_icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-24 {
        font-size: 24px;
    }

    .material-icons.md-36 {
        font-size: 36px;
    }

    .material-icons.md-48 {
        font-size: 48px;
    }

    .icon-sm{
        font-size: 20px;
    }
.bottom-tab {
    width:20%;
    flex: 1 1 auto;
    text-align:center;
    display:flex;
    flex-direction:column;
}
body{
    height:100vh;
    font-family:IRANSans;
}
.h-15 {
    height: 15%;
}
.h-85{
    height: 85%;
}
a {
    color: inherit;
    text-decoration: none;

}
    a:hover {
        color: #6C63FF;
        text-decoration: none;
        cursor: pointer;
    }
button {
    background-color: unset;
    border: unset;
}
button:focus{

    background-color: unset;
    border: unset;

}
main {
    direction: rtl;
    text-align: right;
    height: 100%;
    padding-bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
}
@media (max-width: 767px) {
    main {
        padding-bottom:60px;
    }

}
.dis-scroll{
    overflow-y:hidden;
}
*:focus {
    outline: none;
}
.f-sm{
    font-size:10px;
}
.f-md{
    font-size:12px;
}

.side-nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 32px;
}
.bottom-nav {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right:0;
    overflow-x: hidden;
}
.my-card {
    border-radius: 4px;
    box-shadow: 0px 0px 30px #00000017;
}
.color-tag {
    height: 20px;
    width: 60px;
}
.color-tag-sm {
    height: 20px;
    width: 30px;
}
.t-color {
    color: #00B7A1;
}
.t-bg {
    background: #00B7A1;
}
.pointer {
    cursor: pointer;
}
.d-rtl{
    direction:rtl;
}
.t-button {
    color: white;
    background: #00B7A1;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    font-weight:bold;
}
.bg-trees {
    width: 30%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 10px;
    left:0;
    z-index:-1;
}
.bg-vh {
    height: 40%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    right:0;
}
.logo{
    height:100%;
}
.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    input{
        border: 0;
    }
.avatar-md {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 3px solid #00b7a1;
}
.avatar-sm {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #00b7a1;
}