﻿@model TohidContacts.Models.Category


<div class="py-5 px-3">
    <h5 class="text-muted my-4">ویرایش دسته بندی جدید</h5>
    <div class="row pt-3">
        <div class="col-12 col-md-6">
            <p class="m-0 px-2"><small><strong>دسته بندی مخاطب ها</strong></small></p>

            <form asp-action="Edit" method="post">
                <p class="m-0 px-2 mt-2"><small><strong>عنوان</strong></small></p>
                <input asp-for="Name" class="my-card w-100 p-2" type="text" name="Name" value="@Model.Name" placeholder="مثلا فامیل ..." />
                <span asp-validation-for="Name" class="text-danger"></span>

                <p class="m-0 px-2 mt-2"><small><strong>برچسب رنگی</strong></small></p>
                <select class="my-card w-100 p-2 border-0" asp-for="Label" name="Label" value="@Model.Label">
                    <option value="blue">آبی</option>
                    <option value="red">قرمز</option>
                    <option value="green">سبز</option>
                    <option value="yellow">زرد</option>
                    <option value="purple">بنفش</option>
                    <option value="orange">نارنجی</option>
                    <option value="gray">طوسی</option>
                    <option value="black">مشکی</option>
                </select>

                <button type="submit" class="t-button mt-4 w-100">ثبت ویرایش</button>
            </form>
        </div>

    </div>

