﻿@{
    ViewData["Title"] = "About";
}
@model TohidContacts.ModelViews.SettingsViewModel

<div class="py-5 px-5">
    <h5 class="text-muted my-4">درباره نرم افزار</h5>
    <div class="row pt-3">
        <div class="col-12 align-items-center d-flex">
            <img src="~/images/personal_logo.png" width="110" alt="personal logo" />
            <div>
                <h5 class="m-0 font-weight-bold">توحید نجفی</h5>
                <p class="m-0 text-muted"><small>اردیبهشت ماه 1400</small></p>
            </div>
        </div>
        <div class="col-12 mt-3 px-2">
            <p><small class="font-weight-bold">این نرم افزار به منظور پروژه عملی و آزمایشی توسط توحید نجفی اجرا گردیده است.</small></p>
            <p><small class="font-weight-bold">در این نرم افزار شما می توانید مخاطبین خود را تعریف نمایید و آن ها را گروه بندی نمایید.</small></p>
            <p><small class="font-weight-bold">همچنین به منظور دسترسی سریع تر به برخی مخاطبین می توانید آن را وارد مخاطبین محبوب نمایید.</small></p>
            <p><small class="font-weight-bold">مشخصات فنی:</small></p>
            <p><small class="font-weight-bold">Net Core5.</small></p>
            <p><small class="font-weight-bold">Visual Studio 16.9.6</small></p>
            <p><small class="font-weight-bold">SQL Server Management Studio 18.9.1</small></p>
        </div>
    </div>

