﻿@{
    ViewData["Title"] = "Home Page";
}
@model TohidContacts.ModelViews.HomeViewModel

<div class="row pt-3 px-3 h-100">
    <div class="col-12 col-md-9 h-100">
        <div class="my-card py-2 px-3 d-flex align-items-center" style="height:40px;">
            <span class="material-icons ml-2">search</span>
            <form action="/" method="get">
                <input class="w-100 border-0 f-sm" type="text" name="searchkey" value="" placeholder="جستجو ..." />

                <input type="submit"
                       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                       tabindex="-1" />
            </form>

        </div>
        <div class="d-md-flex d-none align-items-center my-card py-2 align-items-center mt-1 f-sm">
            <span class="col-1">#</span>
            <span class="col-2 border-right">تصویر</span>
            <span class="col-2 border-right">نام و نام خانوادگی</span>
            <span class="col-2 border-right">شماره تماس</span>
            <span class="col-1 border-right">تماس</span>
            <span class="col-1 border-right">محبوب</span>
            <span class="col-1 border-right">جزییات</span>
            <span class="col-1 border-right">ویرایش</span>
            <span class="col-1 border-right">حذف</span>
        </div>

        @if (Model.resultsCount == 0)
        {
            <p class="text-center pt-5">موردی پیدا نشد!</p>
        }

        <div class="no-scrollbar" style="height: calc(100% - 110px); overflow-y:scroll; margin-right:-20px; margin-left:-20px;">
            @for (int i = 0; i < Model.contacts.Count(); i++)
            {
                <div class="d-md-flex d-none  align-items-center my-card py-3 align-items-center mt-2 f-sm" style="margin-right:20px; margin-left:20px;">
                    <span class="col-1"><strong> @(i+1) </strong></span>
                    <div class="col-2 border-right text-center p-0">
                        @if (String.IsNullOrEmpty(@Model.contacts[i].Image))
                        {
                            <img src="~/images/profile-placeholder.png" class="rounded-circle avatar-sm border-0" height="50" width="50" asp-append-version="true" />

                        }
                        else
                        {
                            <img src="~/images/@Model.contacts[i].Image" class="rounded-circle avatar-sm" height="50" width="50" asp-append-version="true" />
                        }
                    </div>

                    <span class="col-2 border-right"><strong> @Model.contacts[i].FirstName @Model.contacts[i].LastName </strong></span>
                    <span class="col-2 border-right">
                        <strong>
                            @if (Model.contacts[i].Phones.Count > 0)
                            {@Model.contacts[i].Phones[0].Number}
                        </strong>
                    </span>
                    @if (Model.contacts[i].Phones.Count > 0)
                    {
                        <a href="tel:@Model.contacts[i].Phones[0].Number" class="col-1 border-right material-icons md-18 text-success">call</a>

                    }
                    else
                    {
                        <a href="#" class="col-1 border-right material-icons md-18 text-muted">call</a>

                    }
                    @if (@Model.contacts[i].IsFav)
                    {


                        <span class="col-1 border-right material-icons md-18 text-danger">favorite</span>

                    }
                    else
                    {
                        <span class="col-1 border-right material-icons md-18 text-muted">favorite_border</span>

                    }
                    <a asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.contacts[i].Id" class="col-1 border-right material-icons md-18 t-color">visibility</a>
                    <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@Model.contacts[i].Id" class="col-1 border-right material-icons md-18 text-info">edit</a>
                    <span class="col-1 border-right material-icons md-18 text-danger pointer"
                          onclick="Swal.fire({
                          html: 'آیا برای حذف مخاطب @Model.contacts[i].FirstName @Model.contacts[i].LastName اطمینان دارید؟' ,
                          showCancelButton: true,
                          cancelButtonText:`انصراف`,
                          confirmButtonText: `حذف`,
                          confirmButtonColor:'#d33',
                          icon:'warning',
                          }).then((result)=>
                        {
                        if (result.isConfirmed) {
                        window.location.href = 'Contacts/Delete/@Model.contacts[i].Id'
                        }
                        })">delete_forever
                    </span>
                </div>


                <div class="d-md-none d-flex align-items-center my-card py-2 align-items-center mt-2 f-sm" style="margin-right:20px; margin-left:20px;">
                    <a class="col-3" asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.contacts[i].Id">
                        @if (String.IsNullOrEmpty(@Model.contacts[i].Image))
                        {
                            <img src="~/images/profile-placeholder.png" class="rounded-circle avatar-sm border-0" height="50" width="50" asp-append-version="true" />

                        }
                        else
                        {
                            <img src="~/images/@Model.contacts[i].Image" class="rounded-circle avatar-sm" height="50" width="50" asp-append-version="true" />
                        }
                    </a>
                    <a class="col-6 border-right" asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.contacts[i].Id">
                        <strong> @Model.contacts[i].FirstName @Model.contacts[i].LastName </strong>
                    </a>

                    @if (Model.contacts[i].Phones.Count > 0)
                    {
                        <a href="tel:@Model.contacts[i].Phones[0].Number" class="col-3 material-icons md-18 text-success border-right">call</a>

                    }
                    else
                    {
                        <a href="#" class="col-3 material-icons md-18 text-muted border-right">call</a>

                    }

                </div>
            }
        </div>

        <div class="py-2 row align-items-center justify-content-center f-md" style="height:30px;">

            @for (var p = 0; p <= (Model.resultsCount / 10); p++)
            {
                <a class=' @((Context.Request.Query["page"] == (p+1).ToString() || (String.IsNullOrEmpty(Context.Request.Query["page"]) && p==0)) ?  "mx-1 px-2 font-weight-bold py-1 rounded t-bg text-white" :  "mx-1 px-2 font-weight-bold" )' asp-controller="Home" asp-action="Index" asp-route-page="@(p+1)">@(p+1)</a>
            }

        </div>

    </div>
        <div class="col-12 col-md-3 py-2 mt-5 px-0 d-none d-md-block">
            <a class="w-100 my-card py-2 d-flex align-items-center text-info" asp-controller="Home" asp-action="Index">
                <div class="col-5 p-2 text-center">
                    <span class="material-icons md-36">groups</span>
                </div>
                <div class="col-7 p-2">
                    <div>
                        <p class="m-0"><small>تعداد مخاطبان</small></p>
                        <p class="m-0 font-weight-bold">@Model.allContactsCount نفر</p>
                    </div>
                </div>
            </a>

            <a class="w-100 my-card py-2 d-flex align-items-center text-danger mt-2 pointer" asp-controller="Home" asp-action="Index" asp-route-IsFav="true">
                <div class="col-5 p-2 text-center">
                    <span class="material-icons md-36">folder_special</span>
                </div>
                <div class="col-7 p-2">
                    <div>
                        <p class="m-0"><small>تعداد علاقمندی</small></p>
                        <p class="m-0 font-weight-bold">@Model.favsCount نفر</p>
                    </div>
                </div>
            </a>


            <a class="my-card mt-2 align-items-center row mx-0 p-2" asp-controller="Home" asp-action="Index">
                <span class="col"><small class="font-weight-bold">مشاهده همه</small></span>

            </a>

            @foreach (var category in Model.categories)
            {
                <a class="my-card mt-2 align-items-center row mx-0 p-2" asp-controller="Home" asp-action="Index" asp-route-CategoryId="@category.Id">
                    <span class="col"><small class="font-weight-bold">@category.Name</small></span>
                    <div class="col-auto color-tag-sm rounded text-white mr-2" style="background:@category.Label">&nbsp;</div>

                </a>
            }


        </div>
    </div>
